body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #45acc6be, #b3bec1be);
    font-family: 'Ropa Sans', sans-serif;
}